.size {
	width:100px;
	height:40px;
	padding:10px 5px 6px 2px;
	margin:4px 3px 1px 10px;
	border:4px solid black;
	border-width: 3px 9px 4px 3px;
}
.boxsize {
	box-sizing: border-box;
}

.fixed {
	position: fixed;
}
.absolute {
	position: absolute;
}
.b1 {
	left:50px;
	top:50px;
}
.b2 {
	margin-left:10px;
	left:50px;
	top:50px;
}
